<% if error.errors.any? %>
  <div id="error_explanation">
    <h2><%= error.errors.count %> <%= "error".pluralize %> prohibited this book from being saved:</h2>
    <ul>
      <% error.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>